In [26]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('Employee_Attrition.csv',index_col=[0])
attrition_df

,EMPID,Leaver(Y/N),Age,Gender,Race_Ethnicity,Job_Level,Annual_Salary,Position,CurrentPayGrade,TimewithCompany(yrs),DistancetoWork(miles),Hybrid/Remote,Dept_Name,Status,Salary_Max%
0,A0ZU,No,35,Female,Unspecified,Administrative Support Workers,20.8,Benefits and Payroll Coordinator,11,0.33,0.00,Remote,HR,Full Time,0.00
1,A0YO,Yes,31,Female,Unspecified,First/Mid-Level Officials and Managers,20.8,Camp Director,7,0.92,45.21,Hybrid,Outdoor Education,Full Time,0.00
2,A03Y,Yes,63,Male,Black or African American,Laborers and Helpers,"9,547.20",Guest Services and Maintenance Specialist - PT,13,3.58,41.49,Hybrid,Risk and Facilities,Part Time,0.21
3,A13D,Yes,29,Female,White,Sales Workers,"10,400.00",Customer Service Representative - PT,13,1.25,21.94,Hybrid,Badge & Sash,Part Time,0.23
4,A1FN,Yes,33,Female,Black or African American,Sales Workers,"10,400.00",Customer Service Representative - PT,13,7.50,0.00,Remote,Badge & Sash,Part Time,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,A0K8,No,56,Female,Black or African American,Executive/Senior-Level Officials and Managers,"118,560.00",Sr Director - Membership,3,7.00,29.31,Hybrid,Membership,Full Time,0.80
360,A0O9,No,49,Male,White,Executive/Senior-Level Officials and Managers,"136,735.82",Sr Director - Marketing,3,3.33,13.28,Hybrid,Marketing,Full Time,0.92
361,A0U1,Yes,23,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,13.50,91.86,Hybrid,Program Support,Full Time,1.00
362,A0U4,Yes,24,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,8.17,12.50,Hybrid,Program Support,Full Time,1.00
363,A0UK,Yes,23,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,0.92,83.93,Hybrid,Program Support,Full Time,1.00

In [27]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [28]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

EMPID             364
Leaver(Y/N)         2
Gender              3
Race_Ethnicity      7
Job_Level           8
Annual_Salary     276
Position          143
Hybrid/Remote       2
Dept_Name          16
Status              2
dtype: int64

In [30]:
attrition_df["Leaver(Y/N)"].replace({"Yes": 1, "No": 0}, inplace=True)
attrition_df

,EMPID,Leaver(Y/N),Age,Gender,Race_Ethnicity,Job_Level,Annual_Salary,Position,CurrentPayGrade,TimewithCompany(yrs),DistancetoWork(miles),Hybrid/Remote,Dept_Name,Status,Salary_Max%
0,A0ZU,0,35,Female,Unspecified,Administrative Support Workers,20.8,Benefits and Payroll Coordinator,11,0.33,0.00,Remote,HR,Full Time,0.00
1,A0YO,1,31,Female,Unspecified,First/Mid-Level Officials and Managers,20.8,Camp Director,7,0.92,45.21,Hybrid,Outdoor Education,Full Time,0.00
2,A03Y,1,63,Male,Black or African American,Laborers and Helpers,"9,547.20",Guest Services and Maintenance Specialist - PT,13,3.58,41.49,Hybrid,Risk and Facilities,Part Time,0.21
3,A13D,1,29,Female,White,Sales Workers,"10,400.00",Customer Service Representative - PT,13,1.25,21.94,Hybrid,Badge & Sash,Part Time,0.23
4,A1FN,1,33,Female,Black or African American,Sales Workers,"10,400.00",Customer Service Representative - PT,13,7.50,0.00,Remote,Badge & Sash,Part Time,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,A0K8,0,56,Female,Black or African American,Executive/Senior-Level Officials and Managers,"118,560.00",Sr Director - Membership,3,7.00,29.31,Hybrid,Membership,Full Time,0.80
360,A0O9,0,49,Male,White,Executive/Senior-Level Officials and Managers,"136,735.82",Sr Director - Marketing,3,3.33,13.28,Hybrid,Marketing,Full Time,0.92
361,A0U1,1,23,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,13.50,91.86,Hybrid,Program Support,Full Time,1.00
362,A0U4,1,24,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,8.17,12.50,Hybrid,Program Support,Full Time,1.00
363,A0UK,1,23,Female,White,Service Workers,"145,600.00",Junior Program Facilitator,0,0.92,83.93,Hybrid,Program Support,Full Time,1.00

In [31]:
# attrition_df=attrition_df.drop(columns=["EMPID", "Status"], axis=1)

In [32]:
attrition_df.head()

,EMPID,Leaver(Y/N),Age,Gender,Race_Ethnicity,Job_Level,Annual_Salary,Position,CurrentPayGrade,TimewithCompany(yrs),DistancetoWork(miles),Hybrid/Remote,Dept_Name,Status,Salary_Max%
0,A0ZU,0,35,Female,Unspecified,Administrative Support Workers,20.8,Benefits and Payroll Coordinator,11,0.33,0.00,Remote,HR,Full Time,0.00
1,A0YO,1,31,Female,Unspecified,First/Mid-Level Officials and Managers,20.8,Camp Director,7,0.92,45.21,Hybrid,Outdoor Education,Full Time,0.00
2,A03Y,1,63,Male,Black or African American,Laborers and Helpers,"9,547.20",Guest Services and Maintenance Specialist - PT,13,3.58,41.49,Hybrid,Risk and Facilities,Part Time,0.21
3,A13D,1,29,Female,White,Sales Workers,"10,400.00",Customer Service Representative - PT,13,1.25,21.94,Hybrid,Badge & Sash,Part Time,0.23
4,A1FN,1,33,Female,Black or African American,Sales Workers,"10,400.00",Customer Service Representative - PT,13,7.50,0.00,Remote,Badge & Sash,Part Time,0.23

In [33]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/Users/azmirsuljic/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,EMPID_ A00C,EMPID_ A00T,EMPID_ A01A,EMPID_ A01C,EMPID_ A01G,EMPID_ A01J,EMPID_ A025,EMPID_ A02H,EMPID_ A02R,EMPID_ A02V,...,Dept_Name_Membership,Dept_Name_Mission Delivery,Dept_Name_Outdoor Education,Dept_Name_Outdoor Program,Dept_Name_Outdoor Property,Dept_Name_Product Programs,Dept_Name_Program Support,Dept_Name_Risk and Facilities,Status_ Full Time,Status_ Part Time
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
encode_df.columns

Index(['EMPID_ A00C', 'EMPID_ A00T', 'EMPID_ A01A', 'EMPID_ A01C',
       'EMPID_ A01G', 'EMPID_ A01J', 'EMPID_ A025', 'EMPID_ A02H',
       'EMPID_ A02R', 'EMPID_ A02V',
       ...
       'Dept_Name_Membership', 'Dept_Name_Mission Delivery',
       'Dept_Name_Outdoor Education', 'Dept_Name_Outdoor Program',
       'Dept_Name_Outdoor Property', 'Dept_Name_Product Programs',
       'Dept_Name_Program Support', 'Dept_Name_Risk and Facilities',
       'Status_ Full Time', 'Status_ Part Time'],
      dtype='object', length=823)

In [35]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/Users/azmirsuljic/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,CurrentPayGrade,TimewithCompany(yrs),DistancetoWork(miles),Salary_Max%,EMPID_ A00C,EMPID_ A00T,EMPID_ A01A,EMPID_ A01C,EMPID_ A01G,...,Dept_Name_Membership,Dept_Name_Mission Delivery,Dept_Name_Outdoor Education,Dept_Name_Outdoor Program,Dept_Name_Outdoor Property,Dept_Name_Product Programs,Dept_Name_Program Support,Dept_Name_Risk and Facilities,Status_ Full Time,Status_ Part Time
0,35,11,0.33,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,31,7,0.92,45.21,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,63,13,3.58,41.49,0.21,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,29,13,1.25,21.94,0.23,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,33,13,7.50,0.00,0.23,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [38]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Leaver(Y/N)"].values
X = attrition_df.drop(columns="Leaver(Y/N)").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

KeyError: 'Leaver(Y/N)'